<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Our Registration Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="container">
        <h1>Welcome to Our Registration Website</h1>
        <p>Explore our services and create an account.</p>
        <a href="/register" class="btn btn-primary">Register</a>
        
    </div>
    <footer>
        <div class="container">
            <p>DBMS mini project</p>
        </div>
    </footer>
</body>
</html>
