<!DOCTYPE html>
<html>
<head>

    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{>navbar}}
    <img src="" alt="External Image" width="300" height="200">
    <div class="container">
    <h2>Registration Form</h2>
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm_Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        
    </form>
    <form method="POST" action="/delete">
    <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
    <button type="submit">Delete User</button>
    </form>

    <form method="POST" action="/edit">
    <label for="currentName">Current Name:</label>
    <input type="text" name="currentName" id="currentName" required>

    <label for="currentEmail">Current Email:</label>
    <input type="email" name="currentEmail" id="currentEmail" required>

    <label for="newName">New Name:</label>
    <input type="text" name="newName" id="newName" required>

    <label for="newEmail">New Email:</label>
    <input type="email" name="newEmail" id="newEmail" required>

    <button type="submit">Edit User</button>
</form>

    
</div>
</body>
</html>
